.menu {
  position: absolute;
  z-index: 1;
  background: white;
  box-shadow: 6px 8px 17px 1px #b8b6b6;
  border-radius: 2px
}

.menuElement {
  padding: 5px 10px;
  min-width: 150px;
  height: auto;
  cursor: pointer;
}

.menuElement:hover {
  background: lightgray;
}